.pageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    align-items: center;
}

.container img {
    width: 100%;
}

.container a {
    padding: 10px;
    text-decoration: none;
    font-family: cursive;
}